---
file_system:
  :home: SERVER_SIDE_BROWSE_ROOT
box:
  :client_id: YOUR_BOX_CLIENT_ID
  :client_secret: YOUR_BOX_CLIENT_SECRET
drop_box:
  :app_key: YOUR_DROPBOX_APP_KEY
  :app_secret: YOUR_DROPBOX_APP_SECRET
google_drive:
  :client_id: YOUR_GOOGLE_API_CLIENT_ID
  :client_secret: YOUR_GOOGLE_API_CLIENT_SECRET
sky_drive:
  :client_id: YOUR_MS_LIVE_CONNECT_CLIENT_ID
  :client_secret: YOUR_MS_LIVE_CONNECT_CLIENT_SECRET
