---
http_interactions:
- request:
    method: post
    uri: https://api.box.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=authorization_code&client_id=BoxClientId&client_secret=BoxClientSecret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"The client credentials
        are invalid"}'
  recorded_at: Mon, 02 Oct 2017 14:41:04 GMT
- request:
    method: get
    uri: https://api.box.com/2.0/folders/0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer uJNGPkzKLN6WU3aPzZMQkkpHBBQdlvON
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"type":"folder","id":"0","sequence_id":null,"etag":null,"name":"All
        Files","created_at":null,"modified_at":null,"description":"","size":632816,"path_collection":{"total_count":0,"entries":[]},"created_by":{"type":"user","id":"","name":"","login":""},"modified_by":{"type":"user","id":"2658683470","name":"Michael
        B. Klein","login":"samvera-stuff@mbkle.in"},"trashed_at":null,"purged_at":null,"content_created_at":null,"content_modified_at":null,"owned_by":{"type":"user","id":"2658683470","name":"Michael
        B. Klein","login":"samvera-stuff@mbkle.in"},"shared_link":null,"folder_upload_email":null,"parent":null,"item_status":"active","item_collection":{"total_count":14,"entries":[{"type":"folder","id":"39278531736","sequence_id":"1","etag":"1","name":"A
        very looooooooooooong box folder, why so loooooooong Lets make it even longer
        to show how far it gets sent to the side"},{"type":"folder","id":"39279109226","sequence_id":"0","etag":"0","name":"Apps
        Team - Shared"},{"type":"folder","id":"39279094013","sequence_id":"0","etag":"0","name":"DSRD
        - W Pattee 3"},{"type":"folder","id":"39279110110","sequence_id":"0","etag":"0","name":"My
        Box Notes"},{"type":"folder","id":"39290826544","sequence_id":"0","etag":"0","name":"My
        Box Notes (1)"},{"type":"folder","id":"39279119860","sequence_id":"0","etag":"0","name":"PCDM-Sufia"},{"type":"folder","id":"39279121477","sequence_id":"1","etag":"1","name":"refactor"},{"type":"folder","id":"39279156107","sequence_id":"0","etag":"0","name":"SaS
        - Development Team"},{"type":"folder","id":"39279158861","sequence_id":"0","etag":"0","name":"Scholarsphere
        - Migration"},{"type":"folder","id":"39279191110","sequence_id":"0","etag":"0","name":"test"},{"type":"folder","id":"39279167710","sequence_id":"0","etag":"0","name":"UX
        Artifacts"},{"type":"file","id":"230979813391","file_version":{"type":"file_version","id":"243797857039","sha1":"5157308db6372b33605c6b7fa2582b8c55b206b3"},"sequence_id":"2","etag":"2","sha1":"5157308db6372b33605c6b7fa2582b8c55b206b3","name":"failed.tar.gz"},{"type":"file","id":"230979887741","file_version":{"type":"file_version","id":"243797928317","sha1":"7837e62973b14582b4ee8115f1f6c15476090b05"},"sequence_id":"0","etag":"0","sha1":"7837e62973b14582b4ee8115f1f6c15476090b05","name":"scholarsphere_5712md360.xml"},{"type":"file","id":"230980014908","file_version":{"type":"file_version","id":"243798058812","sha1":"106a08e82691dcc97bbd083d5b9d5c0b4b168a51"},"sequence_id":"0","etag":"0","sha1":"106a08e82691dcc97bbd083d5b9d5c0b4b168a51","name":"test.txt"}],"offset":0,"limit":100,"order":[{"by":"type","direction":"ASC"},{"by":"name","direction":"ASC"}]}}'
  recorded_at: Mon, 02 Oct 2017 14:41:21 GMT
- request:
    method: get
    uri: https://api.box.com/2.0/folders/0/items?fields=name,size,created_at&limit=99999&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer uJNGPkzKLN6WU3aPzZMQkkpHBBQdlvON
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_count":14,"entries":[{"type":"folder","id":"39278531736","etag":"1","name[...]
- request:
    method: get
    uri: https://api.box.com/2.0/folders/39279156107
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer uJNGPkzKLN6WU3aPzZMQkkpHBBQdlvON
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0"'
    body:
      encoding: UTF-8
      string: '{"type":"folder","id":"39279156107","sequence_id":"0","etag":"0","name":"SaS
        - Development Team","created_at":"2017-09-28T10:26:41-07:00","modified_at":"2017-09-28T13:23:51-07:00","description":"","size":485844,"path_collection":{"total_count":1,"entries":[{"type":"folder","id":"0","sequence_id":null,"etag":null,"name":"All
        Files"}]},"created_by":{"type":"user","id":"2658683470","name":"Michael B.
        Klein","login[...]
[...]
- request:
    method: get
    uri: https://api.box.com/2.0/files/230979813391
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer uJNGPkzKLN6WU3aPzZMQkkpHBBQdlvON
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2"'
    body:
      encoding: UTF-8
      string: '{"type":"file","id":"230979813391","file_version":{"type":"file_version","id":"243797857039","sha1":"[...]
[...]
