---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=authorization_code&code=FakeDropboxAuthorizationCodeABCDEFG&redirect_uri=http%3A%2F%2Fbrowse.example.edu%2Fbrowse%2Fconnect
    headers:
      Content-Type: application/x-www-form-urlencoded
  response:
    status:
      code: '200'
      message: OK
    headers:
      Content-Type: text/javascript
      x-server-response-time: '92'
      x-dropbox-request-id: adb756ec7f02c3a142c9d43c479c2033
      x-dropbox-http-protocol: None
      X-RequestId: 9a70a92424860e2700a2f741b4d0dc6f
    body:
      encoding: UTF-8
      string: ! '{"access_token": "FakeDropboxAccessToken01234567890ABCDEF_AAAAAAA987654321",
        "token_type": "bearer", "uid": "1234567"}'
  recorded_at: Fri, 20 Sep 2013 15:38:46 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/?file_limit=25000&include_deleted=false&include_media_info=false&list=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer FakeDropboxAccessToken01234567890ABCDEF_AAAAAAA987654321
  response:
    status:
      code: '200'
      message: OK
    headers:
      Content-Type: text/javascript

        GMT; Path=/; httponly'
      x-server-response-time: '50'
      x-dropbox-request-id: da19c8c6ca44a67e6c2db3f0254058d1
      pragma: no-cache
      cache-control: no-cache
      x-dropbox-http-protocol: None
      x-frame-options: SAMEORIGIN
      X-RequestId: 057f2caf7291c8f9684a0626480afb30
    body:
      encoding: UTF-8
      string: ! '{ "hash": "60657d5728ee9c36971c0c8269a1c5e8", "thumb_exists": false, "bytes":
        0, "path": "/", "is_dir": true, "size": "0 bytes", "root": "dropbox", "contents":
        [ { "revision": 8743, "rev": "222700cbb190", "thumb_exists": false, "bytes": 0,
        "modified": "Sun, 09 Dec 2012 20:30:45 +0000", "path": "/Apps", "is_dir": true,
        "icon": "folder", "root": "dropbox", "size": "0 bytes" }, { "revision": 6944, "rev":
        "1b2000cbb190", "thumb_exists": false, "bytes": 0, "modified": "Sun, 25 Mar 2012
        00:36:39 +0000", "path": "/Books", "is_dir": true, "icon": "folder", "root": "dropbox",
        "size": "0 bytes" }, { "revision": 14, "rev": "e00cbb190", "thumb_exists": false,
        "bytes": 0, "modified": "Mon, 28 Jun 2010 16:53:48 +0000", "path": "/Documents",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes" }, { "revision":
        9, "rev": "900cbb190", "thumb_exists": false, "bytes": 127748, "modified": "Mon,
        28 Jun 2010 16:49:18 +0000", "client_mtime": "Mon, 28 Jun 2010 16:49:19 +0000",
        "path": "/Getting Started.pdf", "is_dir": false, "icon": "page_white_acrobat", "root":
        "dropbox", "mime_type": "application/pdf", "size": "124.8 KB" }, { "revision": 1975,
        "rev": "7b700cbb190", "thumb_exists": false, "bytes": 208218, "modified": "Mon,
        28 Jun 2010 17:28:47 +0000", "client_mtime": "Mon, 28 Jun 2010 17:28:47 +0000",
        "path": "/iPad intro.pdf", "is_dir": false, "icon": "page_white_acrobat", "root":
        "dropbox", "mime_type": "application/pdf", "size": "203.3 KB" }, { "revision": 1973,
        "rev": "7b500cbb190", "thumb_exists": false, "bytes": 315187, "modified": "Mon,
        28 Jun 2010 17:27:11 +0000", "client_mtime": "Mon, 28 Jun 2010 17:27:11 +0000",
        "path": "/iPhone intro.pdf", "is_dir": false, "icon": "page_white_acrobat", "root":
        "dropbox", "mime_type": "application/pdf", "size": "307.8 KB" }, { "revision": 2636,
        "rev": "a4c00cbb190", "thumb_exists": false, "bytes": 0, "modified": "Thu, 23 Sep
        2010 06:30:15 +0000", "path": "/Writer", "is_dir": true, "icon": "folder", "root":
        "dropbox", "size": "0 bytes" } ], "icon": "folder" }'
  recorded_at: Fri, 20 Sep 2013 15:38:48 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/Writer?file_limit=25000&include_deleted=false&include_media_info=false&list=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer FakeDropboxAccessToken01234567890ABCDEF_AAAAAAA987654321
  response:
    status:
      code: '200'
      message: OK
    headers:
      Content-Type: text/javascript

        GMT; Path=/; httponly'
      x-server-response-time: '64'
      x-dropbox-requ[...]
- request:
    method: get
    uri: https://api.dropbox.com/1/media/auto/Writer/Writer%20FAQ.txt?
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer FakeDropboxAccessToken01234567890ABCDEF_AAAAAAA987654321
  response:
    status:
      code: '200'
      message: OK
    headers:
      Content-Type: text/javascript

        GMT; Path=/; httponly'
      x-server-response-time: '68'
      x-dropbox-request-id: d8dbc2e2080168d6e34d85165aa69c0e
      pragma: no-cache
      cache-control: no-cache
      x-dropbox-http-protocol: None
      x-frame-options: SAMEORIGIN
      X-RequestId: e03a6c0ded5f7088ba59ecd9e97234a6
    body:
      encoding: UTF-8
      string: ! '{"url": "https://dl.dropboxusercontent.com/1/view/FakeDropboxAccessPath/Writer/Writer%20FAQ.txt",
        "expires": "Fri, 20 Sep 2013 19:39:01 +0000"}'
  recorded_at: Fri, 20 Sep 2013 15:39:01 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/media/auto/Writer/Writer%20FAQ.txt
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer FakeDropboxAccessToken01234567890ABCDEF_AAAAAAA987654321
  response:
    status:
      code: '200'
      message: OK
    headers:
      Content-Type: text/javascript

        GMT; Path=/; httponly'
      x-server-response-time: '68'
      x-dropbox-request-id: d8dbc2e2080168d6e34d85165aa69c0e
      pragma: no-cache
      cache-control: no-cache
      x-dropbox-http-protocol: None
      x-frame-options: SAMEORIGIN
      X-RequestId: e03a6c0ded5f7088ba59ecd9e97234a6
    body:
      encoding: UTF-8
      string: ! '{"url": "https://dl.dropboxusercontent.com/1/view/FakeDropboxAccessPath/Writer/Writer%20FAQ.txt",
        "expires": "Fri, 20 Sep 2013 19:39:01 +0000"}'
  recorded_at: Fri, 20 Sep 2013 15:39:01 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/media/auto/Writer/Markdown%20Test.txt?
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer FakeDropboxAccessToken01234567890ABCDEF_AAAAAAA987654321
  response:
    status:
      code: '200'
      message: OK
    headers:
      Content-Type: text/javascript

        GMT; Path=/; httponly'
      x-server-response-time: '78'
      x-dropbox-request-id: b6fd9a3c039d2aea3def25f8f2f5ac3a
      pragma: no-cache
      cache-control: no-cache
      x-dropbox-http-protocol: None
      x-frame-options: SAMEORIGIN
      X-RequestId: 30d2c0cf0122795ebce9bd5f26ce0c60
    body:
      encoding: UTF-8
      string: ! '{"url": "https://dl.dropboxusercontent.com/1/view/FakeDropboxAccessPath/Writer/Markdown%20Test.txt",
        "expires": "Fri, 20 Sep 2013 19:39:02 +0000"}'
  recorded_at: Fri, 20 Sep 2013 15:39:02 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/media/auto/Writer/Markdown%20Test.txt
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer FakeDropboxAccessToken01234567890ABCDEF_AAAAAAA987654321
  response:
    status:
      code: '200'
      message: OK
    headers:
      Content-Type: text/javascript

        GMT; Path=/; httponly'
      x-server-response-time: '78'
      x-dropbox-request-id: b6fd9a3c039d2aea3def25f8f2f5ac3a
      pragma: no-cache
      cache-control: no-cache
      x-dropbox-http-protocol: None
      x-frame-options: SAMEORIGIN
      X-RequestId: 30d2c0cf0122795ebce9bd5f26ce0c60
    body:
      encoding: UTF-8
      string: ! '{"url": "https://dl.dropboxusercontent.com/1/view/FakeDropboxAccessPath/Writer/Markdown%20Test.txt",
        "expires": "Fri, 20 Sep 2013 19:39:02 +0000"}'
  recorded_at: Fri, 20 Sep 2013 15:39:02 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/Writer/Writer%20FAQ.txt?file_limit=25000&include_deleted=false&include_media_info=false&list=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer FakeDropboxAccessToken01234567890ABCDEF_AAAAAAA987654321
  response:
    status:
      code: '200'
      message: OK
    headers:
      Content-Type: text/javascript

        GMT; Path=/; httponly'
      x-server-response-time: '64'
      x-dropbox-request-id: 349e4a2b10c59d22f4e686ddbd608b69
      pragma: no-cache
      cache-control: no-cache
      x-dropbox-http-protocol: None
      x-frame-options: SAMEORIGIN
      X-RequestId: 83bc363934d5a5457cbcbd0fab8b4cfb
    body:
      encoding: UTF-8
      string: ! '{ "revision": 4009, "rev": "fa900cbb190", "thumb_exists": false, "bytes": 20904,
        "modified": "Sat, 09 Apr 2011 18:54:54 +0000", "client_mtime": "Sat, 09 Apr 2011 18:54:54 +0000",
        "path": "/Writer/Writer FAQ.txt", "is_dir": false, "icon": "page_white_text", "root":
        "dropbox", "mime_type": "text/plain", "size": "20.4 KB" }'
  recorded_at: Fri, 20 Sep 2013 15:38:55 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/Writer/Markdown%20Test.txt?file_limit=25000&include_deleted=false&include_media_info=false&list=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer FakeDropboxAccessToken01234567890ABCDEF_AAAAAAA987654321
  response:
    status:
      code: '200'
      message: OK
    headers:
      Content-Type: text/javascript

        GMT; Path=/; httponly'
      x-server-response-time: '64'
      x-dropbox-request-id: 349e4a2b10c59d22f4e686ddbd608b69
      pragma: no-cache
      cache-control: no-cache
      x-dropbox-http-protocol: None
      x-frame-options: SAMEORIGIN
      X-RequestId: 83bc363934d5a5457cbcbd0fab8b4cfb
    body:
      encoding: UTF-8
      string: ! '{ "revision": 2754, "rev": "ac200cbb190", "thumb_exists": false,
        "bytes": 988, "modified": "Thu, 14 Oct 2010 08:32:20 +0000",
        "client_mtime": "Thu, 14 Oct 2010 08:32:20 +0000",
        "path": "/Writer/Markdown Test.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "988 bytes" }'
  recorded_at: Fri, 20 Sep 2013 15:38:55 GMT
recorded_with: Charles Proxy
