---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=authorization_code&code=code&redirect_uri=uri&client_id=id.apps.googleusercontent.com&client_secret=SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "access-token",
         "token_type": "Bearer",
         "expires_in": 3600,
         "refresh_token": "refresh-token"
        }
  recorded_at: Mon, 30 Oct 2017 13:55:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=nextPageToken,files(name,id,mimeType,size,modifiedTime,parents,webContentLink)&orderBy=folder,modifiedTime%20desc,name&pageSize=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer access-token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "nextPageToken": "next-page-token",
         "files": [
          {
           "id": "asset-id1",
           "name": "asset-name1",
           "mimeType": "application/vnd.google-apps.folder",
           "parents": [
            "asset-id4"
           ],
           "modifiedTime": "2017-02-08T16:39:53.000Z"
          },
          {
           "id": "asset-id2",
           "name": "asset-name2.pdf",
           "mimeType": "application/pdf",
           "webContentLink": "https://drive.google.com/uc?id=id&export=download",
           "modifiedTime": "2017-10-20T16:48:50.001Z",
           "size": "891764"
          },
          {
           "id": "asset-id3",
           "name": "asset-name3.pdf",
           "mimeType": "application/pdf",
           "parents": [
            "asset-id6"
           ],
           "webContentLink": "https://drive.google.com/uc?id=id&export=download",
           "modifiedTime": "2017-10-20T16:48:50.001Z",
           "size": "891764"
          }
         ]
        }
  recorded_at: Mon, 30 Oct 2017 13:55:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=nextPageToken,files(name,id,mimeType,size,modifiedTime,parents,webContentLink)&orderBy=folder,modifiedTime%20desc,name&pageSize=1000&pageToken=next-page-token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer access-token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": []
        }
  recorded_at: Mon, 30 Oct 2017 13:55:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/asset-id2?fields=id,%20name,%20size,%20webContentLink
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer access-token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "asset-id2",
         "name": "asset-name2.pdf",
         "webContentLink": "https://drive.google.com/uc?id=id&export=download"
        }
  recorded_at: Mon, 30 Oct 2017 18:33:52 GMT
recorded_with: VCR 3.0.3
