#
# To make browse-everything aware of a provider, uncomment the info for that provider and add your API key information.
# The file_system provider can be a path to any directory on the server where your application is running.
#
# dropbox:
#   :app_key: YOUR_DROPBOX_APP_KEY
#   :app_secret: YOUR_DROPBOX_APP_SECRET
# box:
#   :client_id: YOUR_BOX_CLIENT_ID
#   :client_secret: YOUR_BOX_CLIENT_SECRET
# google_drive:
#   :client_id: YOUR_GOOGLE_API_CLIENT_ID
#   :client_secret: YOUR_GOOGLE_API_CLIENT_SECRET
# s3:
#   :app_key: YOUR_AWS_S3_KEY
#   :app_secret: YOUR_AWS_S3_SECRET
#   :bucket: YOUR_AWS_S3_BUCKET
#   :region: YOUR_AWS_S3_REGION # default: us-east-1
#   :signed_url: true # set to false for public urls
# sky_drive:
#   :client_id: YOUR_MS_LIVE_CONNECT_CLIENT_ID
#   :client_secret: YOUR_MS_LIVE_CONNECT_CLIENT_SECRET
# kaltura:
#   :partner_id: YOUR_KLATURA_PARTNER_ID
#   :administrator_secret: YOUR_KALTURA_ADMINSTRATOR_SECRET
#   :service_url: YOUR_SERVICE_URL
