<div class="hero-unit">
<h1>Welcome!</h1>

<p>Please click the button below to start pickin' files!</p>

<button class="btn btn-large btn-success" id="browse" data-toggle="browse-everything" data-route="<%=browse_everything_engine.root_path%>">Browse</button>
</div>