<div class="panel panel-default">
  <div class="panel-body">
    <a href="main" class="btn btn-large btn-primary" role="button">Enter Test App (Turbolinks)</a>
    <a href="main" class="btn btn-large btn-primary" role="button" data-no-turbolink>Enter Test App (No Turbolinks)</a>
  </div>
</div>