<div class="jumbotron">
  <h1>Welcome!</h1>

  <p>Please click the button below to start pickin' files!</p>

  <%= form_tag('/file', id: 'main_form', method: 'post') do %>
    <%= button_tag("Browse", type: 'button', class: 'btn btn-large btn-success', id: "browse-btn",
      'data-toggle' => 'browse-everything', 'data-route' => browse_everything_engine.root_path,
      'data-target' => '#main_form' ) %>
    <%= button_tag("Submit", type: 'submit', class: 'btn btn-large btn-primary', id: "submit-btn") %>
  <% end %>

  <p id="status">0 items selected</p>

  <script>
    $(document).on('turbolinks:load', function() {
      $('#browse-btn').browseEverything()
        .done(function(data) { $('#status').html(data.length.toString() + " items selected") })
        .cancel(function()   { window.alert('Canceled!') });
    });
  </script>
</div>
