@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

@mixin border-highlight($color) {
  $bl: 3;
  @if $color == none {
    $bl: 0
  }
  margin-left: #{4-$bl}px;
  border-left: #{$bl}px solid $color;
  padding-left: 4px;
}

@mixin ev-link {
  cursor: pointer;
  @include border-highlight(none);
  &:hover {
    @include border-highlight(gray);
  }
  a {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
  }
}

#browse-everything {
  overflow-y: hidden;
  position: fixed !important;
  margin: 0 0 0 -37.5%;
  left: 50%;
  width: 75%;

  .modal-body {
    overflow: hidden;
  }

  .modal-footer {
    margin: 0px;
  }

  .row {
    margin: inherit;
  }
  
  .ev-files {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    li { 
      overflow: hidden;
      text-overflow: ellipsis;
      .ev-file-name {
  //      padding: 0px 6px;
        white-space: nowrap;
      }
      border-top: none;
    }

    &.detail {
    }

    &.list ul {
      @include content-columns(3);
    }
  }

  .ev-container li {
    cursor: pointer;
  }

  .ev-body {
    padding: 0;
  }

  .ev-providers {
    padding: 4px;
    background-color: lightgray;
  }

  .ev-providers, .ev-files {
    height: 50vh;
    li { @include ev-link; }
    .ev-selected {
      @include border-highlight(black);
    }
  }

}