@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

@mixin border-highlight($color) {
  $bl: 3;
  @if $color == none {
    $bl: 0
  }
  margin-left: #{4-$bl}px;
  border-left: #{$bl}px solid $color;
  padding-left: 4px;
}

@mixin ev-link {
  cursor: pointer;
  @include border-highlight(none);
  &:hover {
    @include border-highlight(gray);
  }
  a {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
  }
}

.ev-body {
  padding: 0;
}

.ev-providers {
  padding: 4px;
  background-color: lightgray;
}

.ev-providers, .ev-files {
  li { @include ev-link; }
  .ev-selected {
    @include border-highlight(black);
  }
}

.ev-files {
  position: relative;

  li { 
    overflow: hidden;
    text-overflow: ellipsis;
    .ev-file-name {
//      padding: 0px 6px;
      white-space: nowrap;
    }
    border-top: none;
  }

  &.detail {
  }

  &.list ul {
    @include content-columns(3);
  }
}

.ev-container li {
  cursor: pointer;
}

#browse-everything {
  margin: 0 0 0 -450px;
  width: 900px;
  left: 50%;
}