<h2><%=t('browse_everything.auth_prompt.head', provider: @provider.name)%></h2>
<p><%=t('browse_everything.auth_prompt.text', provider: @provider.name)%></p>
<p><%= link_to t('browse_everything.auth_prompt.button_text', provider: @provider.name), @provider.auth_link+"&state=#{params[:provider]}", class:"btn btn-primary", target:'blank' %></p>
