<% if provider.present? %>
  <table id="file-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Kind</th>
        <th>Modified</th>
      </tr>
    </thead>
    <% provider.contents(browse_path).each_with_index do |file,index| %>
      <% if is_acceptable?(file) %>
        <%= render :partial => 'file', :locals => { :file => file, :index => index, 
          :path => browse_everything_engine.contents_path(provider_name,file.id), :parent => params[:parent] } %>
      <% end %>
    <% end %>
  </table>
<% end %>
