<noscript>You need to enable JavaScript to use BrowseEverything.</noscript>
<div id="root"></div>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
<%= javascript_pack_tag 'browse_everything', type: 'application/javascript' %>
