<div id="provider-contents-pages-next"
     class="ev-next-page spinner"
     data-provider-contents-pages-next="<%= provider_contents_next_page %>">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
