<div class="modal-body ev-container">
  <div class="ev-browser">
    <%= render :partial => 'providers' %>
    <div class="ev-files list">
      <%= render :partial => 'files' %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <form class="ev-submit-form form-horizontal" action="<%=params[:submit_to]%>" method="POST">
    <button type="cancel" class="btn btn-danger">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>